.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  width: 400px;
  background-color: rgb(225, 223, 223);
  box-shadow: 2px 2px 5px 2px #313222;
  border-radius: 13px;
  border: 2px solid gray;
  padding: 15px;
  list-style: none;
  transition: background-color 0.3s ease;
}
.item:hover {
  background-color: rgb(239, 99, 99);
}
.statusOnline {
  width: 30px;
  height: 30px;
  background-color: green;
  border-radius: 50%;
}

.statusOffline {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
}

.name {
  font-size: 32px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
